<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"><head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글쓰기</title>
</head>
<body>
<main layout:fragment="main" class="container">
    [[${memberId}]]
    <form th:action="@{/freeboard/addpost}" method="post" onsubmit="return checkPost()">
        <input type="hidden" name="memberId" th:value="${memberId}">
        <div>
            <p>제목</p>
            <input type="text" name="title" id="title" required>
        </div>
        <div>
            <input type="text" name="content" id="content" required>
        </div>
        <button type="submit" class="btn btn-primary" >
            완료
        </button>
    </form>

    <script>
        function checkPost() {
            const title = document.getElementById('title').value;
            const content = document.getElementById('content').value;
            if (title === '') {
                alert("제목을 작성 해주세요");
                return false;
            }
            if (content === '') {
                alert('내용을 작성해주세요');
                return false;
            }
        }
    </script>
</main>
</body>
=