<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>도서 등록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<main class="container" layout:fragment="main" >
    <div>
        <form th:action="@{/book/resigstbook}" id="registBookForm" enctype="multipart/form-data"
              method="post" onsubmit="return isValid()">
            <!-- enctype 속성이 multipart/form-data로 설정되어 있어야 서버가 요청을 multipart로 처리할 수 있음 -->

            <!-- 책 등록 홈 -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bookName">책 제목 *</label>
                    <div style="display: flex">
                        <input type="email" class="form-control" id="bookName" placeholder="책 제목"
                               name="email" style="margin-right: 10px" required>
                        <input type="button" class="btn btn-primary" id="emailCheck"
                               onclick="duplicateBookNameCheck()" value="책 중복 체크">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="authorName">저자 *</label>
                    <input type="text" class="form-control" id="authorName" placeholder="저자 이름"
                           name="authorName" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="publisherName">출판사 *</label>
                    <input type="text" class="form-control" id="publisherName" placeholder="출판사 입력" name="publisherName"
                           required>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phone">수량 *</label>
                    <input type="tel" class="form-control" id="phone" placeholder="수량"
                           name="phoneNumber" required oninput="validatePhoneInput(this)">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h3>책 장르</h3>
                    <label for="fantasy">
                        <input type="checkbox" name="genreStatus" id="fantasy" value="FANTASY">판타지
                    </label>
                    <label for="horror">
                        <input type="checkbox" name="genreStatus" id="horror" value="FANTASY">공포
                    </label>
                    <label for="comic">
                        <input type="checkbox" name="genreStatus" id="comic" value="FANTASY">코믹
                    </label>
                    <label for="action">
                        <input type="checkbox" name="genreStatus" id="action" value="ACTION">액션
                    </label>
                    <label for="drama">
                        <input type="checkbox" name="genreStatus" id="drama" value="DRAMA">드라마
                    </label>
                    <label for="mystery">
                        <input type="checkbox" name="genreStatus" id="mystery" value="MYSTERY">드라마
                    </label>

                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="rentalPrice">출판사 *</label>
                    <input class="form-control" id="rentalPrice" name="rentalPrice" placeholder="대여 가격" required
                           type="number">
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="purchasePrice">출판사 *</label>
                    <input class="form-control" id="purchasePrice" name="purchasePrice" placeholder="구매 가격" required
                           type="number">
                </div>

            </div>

            <div>
                <button type="submit" class="btn btn-primary">도서 등록</button>
            </div>
        </form>
    </div>

    <script layout:fragment="js" th:src="@{/js/book/registbook.js}"></script>
</main>
</body>
</html>