<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer with Modal</title>

    <style>
        .container {
            margin-top: 50px; /* 메인과의 간격 */
            border-top: 1px solid #ddd; /* 위쪽 경계선 추가 */
            padding: 20px;
            text-align: center;
            background-color: #f8f9fa; /* 배경색 추가 */
        }
    </style>
</head>
<body>
<footer th:fragment="footerFragment" class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-content">
                <p>© 2025 EBookLand. All Rights Reserved.</p>
            </div>
            <div class="footer-links">
                <strong>
                    <a id="terms-link" data-bs-toggle="modal" data-bs-target="#termsModal">이용약관</a> |
                    <a id="privacy-link" data-bs-toggle="modal" data-bs-target="#privacyModal">개인정보처리방침</a> |</strong>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
