<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>
        헤더
    </title>
</head>
<body>
<header th:fragment="headerFragment">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div  class="container">
            <a  class="navbar-brand" th:href="@{/}"><span class="flaticon-pawprint-1 mr-2"></span>e북랜드</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link">메인페이지</a></li>
                    <li class="nav-item"><a th:href="@{/board/freeboard}" class="nav-link">자유게시판입니다</a></li>
                    <li class="nav-item"><a th:href="@{/board/reviewboard}" class="nav-link">후기게시판</a></li>
                    <li class="nav-item"><a th:href="@{/board/noticeboard}" class="nav-link">공지사항</a></li>
                    <li class="nav-item"><a sec:authorize="hasRole('ADMIN')" th:href="@{/com/cstangga/ebookland/board/adminboard}" class="nav-link">관리자 게시판</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- END nav -->
</header>
</body>
</html>